<nav class ="main nav">

</nav>

<div id="navBar">
  <img src="../public/images/rokulogo.png" alt="roku logo">
  <ul>
    <li> Home </li>
      <li> Television </li>
        <li> Music </li>
  </ul>
<img src="../public/images/userprofile.png" alt="userprofilepic">
<img src="../public/images/dropdown.png" alt="dropdownmenu">
<img src="../public/images/settings.png" alt="usersettings">
</div>

<div id="main header">
<p> header tag </p>
<ul>
  <a> <img href="../public/images/tvicon.jpg" alt="tv icon"> </a>
    <a> <img href="../public/images/moviesicon.jpg" alt="movies icon"> </a>
      <a> <img href="../public/images/musicicon.jpg" alt="music icon"> </a>
</ul>
  </div

<div class="lowerbar">
  <h2> Parents </h2>
  <ul>
  <img src="../public/images/parenticon1.jpg" alt="parenticon1">
    <img src="../public/images/parenticon1.jpg" alt="parenticon2">
      <img src="../public/images/parenticon1.jpg" alt="parenticon3">
    </ul>
    <h2> Kids </h2>
    <ul>
    <img src="../public/images/parenticon1.jpg" alt="parenticon1">
      <img src="../public/images/parenticon1.jpg" alt="parenticon2">
        <img src="../public/images/parenticon1.jpg" alt="parenticon3">
      </ul>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est  </p>
</div>

<div class="eras">
<img src="../public/images/50s.jpg" alt="50s">
<img src="../public/images/60s.jpg" alt="60s">
<img src="../public/images/70s.jpg" alt="70s">
<img src="../public/images/80s.jpg" alt="80s">
<img src="../public/images/90s.jpg" alt="90s">
</div>

<footer class="footer">
<img src="../public/images/rokulogo.png" alt="roku logo">
<p class="copyright"> Copyright 2018 - All rights reserved </p>
<img src="../public/images/facebook.png" alt="facebook">
<img src="../public/images/twitter.png" alt="twitter">
</footer>
